<h1>Users</h1>

<%= form_with url: filter_users_path, method: :get, local: true do %>
  <div>
    <%= label_tag :campaign_names, "Enter Campaign Names (comma separated)" %>
    <%= text_field_tag :campaign_names, params[:campaign_names], placeholder: "e.g., illum, possimus" %>
  </div>
  <div>
    <%= submit_tag "Filter Users" %>
  </div>
<% end %>

<%= render 'users_table', users: @users %>
